html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "OsWald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: $default-text-color;
  background-color: $bg-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
